.basket {
    position: absolute;
    right: 0;
    top: 50px;
    width: 450px;
    background-color: #eaeaea;
    box-shadow: -23px 34px 42px 20px rgba(34, 60, 80, 0.6);
    z-index: 1;
    padding: 20px;
}